/* Basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica;
  font-weight: 300;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  line-height: 1.25;
}

strong {
  font-weight: bold;
}
h1 {
  font-family: Arial;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  line-height: 1.2;
  padding: 1px 0;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-family: Arial;
  font-size: 1.75em;
  font-weight: 400;
  color: #000000;
  margin: 16px 0px 4px 0px;
  border-top: 1px solid #e0e0e5;
  padding-top: 20px;
}
h3 {
  font-family: Arial;
  font-size: 1.35em;
  font-weight: 500;
  color: #000000;
  margin: 12px 0px 4px 0px;
}
h4 {
  font-family: Arial;
  font-size: 1.15em;
  font-weight: 500;
  color: #000000;
  margin: 10px 0px 4px 0px;
}

/* Layout helpers */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.authors {
  margin: 4px 0;
  font-size: 20px;
  font-weight: 550;
  color: rgb(80, 101, 193);
}

.affiliations {
  margin: 0;
  font-size:18px;
  font-weight: 400;
  color: #000;
}

.venue {
  margin-top: 8px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

/* Buttons */
.btn {
  padding: 8px 28px;

  border-radius: 1px;
  border: 1px solid #d0d0dd;

  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background: rgb(80, 101, 193);

  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}



.code-text {
  background: #f5f3f3;
  color: #5b5959fa;
  padding: 12px 14px;
  border-radius: 4px;
  width: fit-content;
  font-size: 14px;
  font-family: monospace;
}
.code-font {
  font-family: monospace;
  font-size: 16px;
}

.green-text {
  color: rgb(82, 193, 80);
  font-weight: 600;
}


/* Lists */
.bullets {
  margin-top: 5px;
  padding-left: 25px;
}

.bullets li {
  margin-bottom: 5px;
}

/* BibTeX */
.bibtex {
  background: #efefef;
  color: #000000;
  padding: 12px 14px;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 13px;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;

}

.img-caption {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #666;
  text-align: center;
  font-style: italic;
}

.toggle-tag {
  display: inline-flex; 
  align-items: center;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: -2px;

  background-color: #f2e9e9f0; /* pink button */
  color: rgb(245, 56, 56); /* red word */
  border: 1px solid #e6d6d6; /* red border */
  border-radius: 20px;
  border-width: 1.5px;
  
  font-size: 14px;
  transition: background-color 0.2s; 
  font-family: monospace;

}

.toggle-tag:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* 展開/收合圖標的樣式 */
.toggle-icon {
    margin-left: 8px;
    transition: transform 0.3s ease; /* 旋轉動畫 */
    font-size: 0.9em;
}

/* 內容區塊樣式 */
.content-block {
    /* 內容區塊的視覺效果 */
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-left: 5px solid #dc3545; /* 左側突出線 */
    background-color: #fffaf0; /* 淺色背景 */
    border-radius: 4px;
    font-family: 'Courier New', Courier;
    font-size: 16px;
}

/* 初始隱藏狀態 */
.hidden {
    display: none;
}

.blue-text {
  color: rgb(69, 150, 232);
  font-weight: 550;
}
.img-result {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  width: 60%;
  height: auto;
}
.cite-number {
  font-size: 18px;
  color:rgb(80, 101, 193);
  font-weight: 600;
  margin-right: 5px;
}

section#related_work a {
  text-decoration: none;
}

section#related_work a:hover {
  text-decoration: underline;
}